@media screen and (max-width:576px) {
    .navber {
        padding: 15px;
    }
    .icon {
        display: block;
        
    }
    .banner-title {
        margin-top: 0px;
        margin-right: 20px;
    }
    .nav-links {
        display: none;
    }
    .banner-container,  .run-container {
        flex-direction: column;
    }
    .banner-title, .banner-des{
        margin-left: 15px;
    }
    .button-div {
        margin-left: 10px;
    }
    .banner {
        width: 100%;
    }
    .btn-primary {
        padding: 10px 25px;
    }
    .banner img {
        height: 590px;
        width: 100%;
    }
    #position {
        position: absolute;
     
        top: 95%;
        right: 3%;
     }
     .button-2 {
        position: absolute;
        top: 130%;
    }
    .change-sec {
        width: 100%;
    }
    .change-title {
        padding: 0px 5px;
    }
    .change-des {
        padding: 0px 5px;
    }
    .card-container {
        flex-direction: column;
    }
    .card{
        width: 100%;
    }
    .run-container{
        width: 100%;
    }
    .run-text {
        width: 100%;
    }
    .run-img {
        width: 100%;
    }
    .bmi-div {
        width: 100%;
        text-align: left;
        padding: 0px 18px;
    }
    .bmi-des {
        margin-left: -2px;
    }
}