.inter-common-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

  .salsa-regular {
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

* {
    margin: 0px;
    padding: 0px;
}
/*Common styles*/
.display-flex {
    display: flex;
}
.bg-primary{
    background-color:  #303030;
}
.bg-black {
    background-color: black;
}
.white {
    color: white;
}
.secondary-color {
    color: rgba(255, 255, 255, 0.5);
}
/*Header related styles*/


/*Nav related styles*/
.header {

}
.navber, .banner-section, .bmi-section, .bmi-chart, .team-container {
    max-width: 1100px;
    margin: 0 auto;
}
.navber {
    justify-content: space-between;
    align-items: center;
}
.navber ul {
    border: 1px solid rgba(242, 239, 239, 0.071);
    border-radius: 15px;
    margin-top: 50px;
}
.navber .nav-item {
    list-style: none;
    margin: 5px 20px;
}
.navber .nav-link{
    text-decoration: none;
    color: white;
}
.list-color {
    background-color: #E6533C;
    border: 1px solid #E6533C;
    border-radius: 15px;
}
.icon {
    display: none;
    color: aliceblue;
    align-content: center;
}
.nav-brand {
    font-size: 2.2rem;
    font-weight: 800;
    font-style: italic;
    color: #E6533C;
    margin-top: 50px;
}
.banner-container {
    justify-content: space-between;
}
#banner-details {
    width: 45%;
}
.banner-title {
    font-size: 4rem;
    font-weight: 800;
    margin-top: 90px;
    margin-bottom: 20px;
}
.banner-des {
    font-size: .8rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.btn-primary {
    padding: 15px 35px;
    border: none;
    border-radius: 50px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-right: 10px;
  }
#common-btn {
    background-color: #E6533C;
    border: none;
}
.banner-img {
    width: 349px;
    height: 580px;
}
.over-img {
    padding: 20px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-weight: bold;
}
.size {
    font-size: 2rem;
}
#position {
   position: absolute;

   top: 230px;
   right:150px;
}
#btn-2 {
    padding: 20px 40px;
    position: relative;
}
.bitto {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #E6533C;

    position: absolute;

    margin-top: 10px;
    right: 117px;
}
.button-2 {
    position: absolute;
    top: 510px;
}
/*Change related style*/
.change-sec {
    width: 670px;
    height: 120px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}
.change-title {
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 30px;
}
.change-des {
    font-size: ;
}
/*Card related styles*/
.card-container {
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.card {
    width: 230px;
    height: 270px;
    text-align: center;
}
.card .card-img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
.card-title  {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 15px;
}
.card-des {
    font-size: .8rem;
}
/*Run section related styles*/
.run-container {
    width: 900px;
    margin: 0 auto;
    background-color: #303030;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.run-text {
    width: 443px;
    height: 290px;
}
.runing-man {
    width: 366px;
    height: 260px;
    border-radius: 10px;
}
/*Bmi section styles*/
.bmi-div {
    width: 55%;
    margin-left: 250px;
    margin-top: 130px;
    margin-bottom: 100px;
}
.bmi-title {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 10px;
}



/*BMI calculator section styles*/
.bmi {
    margin-left: 100px;
    margin-bottom: 150px;
}
.bmi-chart {
    justify-content: space-between;
}
.bmi-chart-1 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 20px;
}
.bmi table {
    border-collapse: collapse;
}
.bmi table td {
    border: 1px solid  rgba(255, 255, 255, 0.451);
    padding: 5px 15px 5px 8px;
}
.bmi2 {
    width: 50%;
}
.bmi-right-title {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 20px;
}
input[type="text"] {
    width: 40%;
    height: 13%;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.225);
    padding: 0px 10px;
    margin-right: 8px;
}
input[type="number"] {
    width: 40%;
    height: 13%;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.225);
    padding: 0px 10px;
    margin-right: 8px;
}
textarea {
    width: 86%;
    height: 13%;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color:rgba(255, 255, 255, 0.225);
    padding: 0px 10px;
    margin-right: 8px; 
    resize: none;
}
.btn-primary-bmi {
    padding: 10px 40px;
    border-radius: 20px;
    color: aliceblue;
    font-weight: bold;
}

.team-section {
    width: 55%;
    height: 120px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
}




.team-container {
    margin-bottom: 80px;
    border-radius: 15px;
}
.team-parent {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 8px;
}
.team-img {
    width: 98%;
    height: 270px;
    border-radius: 15px;
}
.team-card {
    position: relative;
}
.img-text {
    position: absolute;
    color: aliceblue;
    top: 220px;
    left: 10px;

}















@media screen and (max-width:576px) {
    .navber {
        padding: 15px;
    }
    .icon {
        display: block;
        margin-right: 10px;
        margin-top: 32px;
    }
    #banner-details {
        width: 100%;
    }
    .banner-title {
        font-size: 3rem;
        margin-top: 0px;
        margin-right: 20px;
    }
    .nav-links {
        display: none;
    }




    .banner-container,  .run-container {
        flex-direction: column;
    }
    .banner-title, .banner-des{
        margin-left: 15px;
    }
    .banner-des {
        padding-right: 12px;
    }

    .button-div {
        margin-left: 10px;
    }
    .banner {
        width: 100%;
    }
    .btn-primary {
        padding: 10px 25px;
    }
    .banner img {
        height: 590px;
        width: 100%;
    }
    #position {
        position: absolute;
     
        top: 75%;
        right: 3%;
     }
     .button-2 {
        position: absolute;
        top: 100%;
    }



    .change-sec {
        width: 100%;
    }
    .change-title {
        padding: 0px 5px;
    }
    .change-des {
        padding: 0px 5px;
    }





    .card-container {
        flex-direction: column;
    }
    .card{
        width: 100%;
    }




    .run-container{
        width: 100%;
    }
    .run-text {
        width: 100%;
        margin-left: 12px;
    }
    .run-title {
        margin-left: 10px;
        margin-bottom: 8px;
    }
    .run-des{
        padding-right: 12px;
        margin-left: 12px;
    }
    .run-img {
        width: 100%;
    }
    .runing-man {
        width: 90%;
        margin-left: 18px;
        margin-bottom: 10px;
    }
    .run-btn {
        margin-left: 12px;
    }





    .bmi-div {
        width: 100%;
        margin-left: 0px;
        padding: 0px 18px;
        margin-bottom: 0px;
    }
    .bmi-des {
        margin-left: 7px;
        margin-bottom: 50px;
    }
    .bmi-chart {
        flex-direction: column;
    }
    .bmi-chart-1 {
        margin-left: 40px;
        width: 100%;
    }
    .bmi {
        width: 100%;
        margin-left: 12px;
        margin-bottom: 30px;
    }
    .bmi h4{
        max-width: max-content;
        text-align: left;
    }
    .bmi-text{
        width: 290px;
        margin-left: -26px;
    }
    .bmi2 {
        width: 100%;
        margin-bottom: 20px;
    }
    input[type=number] {
        width: 38%;
        padding: 10px 10px;
        margin-bottom: 5px;
        margin-right: 0px;
    }
    input[type=text] {
        width: 38%;
        padding: 10px 10px;
        margin-bottom: 5px;
        margin-right: 0px;
    }
    textarea {
        width: 85%;
        padding: 10px 10px;
        margin-bottom: 5px;
        margin-right: 0px;
    }
    .bmi-title {
        margin-left:10px;
    }
    .bmi table {
       margin-left: 13px;
    }
    .bmi2 h4 {
        text-align: left;
        margin-left: 2px;
    }
    .bmi2-text {
        padding: 15px;
    }
    .bmi2-text p {
        padding-right: 12px;
        width: 100%;
        word-wrap: no-wrap;
    }
    .bmi2 input[type=number] {
        margin-left: 10px;
    }
    .bmi2 input[type=text] {
        margin-left: 10px;
    }
    .bmi2 textarea {
        margin-left: 10px;
    }
    .btn-primary-bmi {
        margin-left: 10px;
    }
    .btn-primary-bmi {
        padding: 10px 40px;
    }




    .team-section {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: #E6533C;
    }
    .team-title-div {
        width: 100%;
        margin-top: 300px;
    }
    .team-parent {
        grid-template-columns: repeat(1, 1fr);
    }
    .last-sec {
       flex-direction: column;
    }
    .size-container {
        flex-direction: column;
    }
    .footer .size{
        width: 100%;
        margin-left:15px;
    }
    .footer-des {
        word-wrap: no-wrap;
        padding: 0px 10px;
    }
    .footer .last-sec .size-container {
        margin-left: 20px;
    }
    .size-1 {
        width: 100%;
    }
    .size-2 {
        width: 100%;
    }
    .footer .last-des-1 .size-2 {
        margin-left: 5px;
    }
    .footer-description {
        margin-left: -1px;
    }
    .footer-des {
            width: 320px;
            word-wrap: no-wrap;
            padding: 0px;
    }
    .footer hr {
        width:100%;
    }
    .copy-right {
        width: 100%;
    }
    
}